<div class="addon">
	<div class="addon-content">
		<div class="addon-thumbnail">
			<img src="Resources/Images/Addons/Unknown.png">
		</div>
		<div class="addon-info">
			<div>
				<a class="addon-name">{NAME}</a>
				{AUTHORS}
			</div>
			<div class="addon-description">
				{DESCRIPTION}
			</div>
			<ul class="addon-tags">
				{TAGS}
			</ul>
		</div>
		<div class="addon-metrics">
			<!--<span>{DOWNLOADCOUNT} Downloads</span>
			<br>-->
			<span>Updated {LASTUPDATED}</span>
			<br>
			<span>Created {UPLOADDATE}</span>
		</div>
		<div class="addon-download">
			<a class="addon-btn addon-btn-primary" href="{DOWNLOAD}" target="_blank">Download</a>
			<a class="addon-btn addon-btn-secondary addon-btn-disabled" data-tooltip="<i style='color: #AC5959;'>The option to install is currently disabled and will be enabled with the launch of the Raidcore App.</i>">Install</a>
		</div>
	</div>
</div>