body {
	background-image: url("../Resources/banner_rightonly.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-blend-mode: normal !important;
	background-size: cover;
}

#contact {
	color: #AAAAAA;
	position: fixed;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#contact a {
	color: var(--rcblue);
}
#contact a:hover {
	color: var(--rclightblue);
}
#contact h1 {
	font-size: 48px;
	color: transparent!important;
	background-image: url("../Resources/Images/clip_bg.png");
    -webkit-background-clip: text;
    background-clip: text;
	background-position: center;
    background-size: cover;
	text-shadow: none !important;
}
#contact h2 {
	color: white;
}