/* TYPEDEFS */
:root {
	/* rarities */
	--basic: #DCDCDC;
	--fine: #5599FF;
	--masterwork: #33CC11;
	--rare: #FFDD22;
	--exotic: #FFAA00;
	--ascended: #FF4488;
	--legendary: #9933FF;
	
	/* professions */
	--elementalist: #BA0918;
	--mesmer: #8800AA;
	--necromancer: #005544;
	--engineer: #874D24;
	--ranger: #5E8F11;
	--thief: #8C414A;
	--guardian: #0088AA;
	--revenant: #670F0F;
	--warrior: #C38301;
	
	/* raidcore */
	--rcwhite: #DCDCDC;
	--rcdarkblue: #0F79AA;
	--rcdarkbluesemi: #0F79AA4C;
	--rcblue: #0094FF;
	--rclightblue: #8CCFFF;
	--rcbgdark: #161B27;
	--rcbg: #20242A;
	--rcbgsemi: #20242A88;
	--rcdarkgrey: #555555;
	--rcgrey: #999999;
	--rclightgrey: #CCCCCC;
	
	/* arenanet */
	--arenanet: #EE2E22;
}

@font-face {
	font-family: Cronos Pro;
	src:url("../Resources/Fonts/CronosPro.ttf");
}	
@font-face {
	font-family: LemonMilk;
	src:url("../Resources/Fonts/LEMONMILK-Regular.otf");
}		
@font-face {
	font-family: Menomonia;
	src: url("../Resources/Fonts/Menomonia.ttf");
}
@font-face {
	font-family: 'Acumin Pro';
	src: url("../Resources/Fonts/Acumin-RPro.woff");
}
@font-face {
	font-family: 'Acumin Pro Italic';
	src: url("../Resources/Fonts/Acumin-ItPro.woff");
}
@font-face {
	font-family: 'Acumin Pro Bold';
	src: url("../Resources/Fonts/Acumin-BdPro.woff");
}
@font-face {
	font-family: 'Acumin Pro Bold Italic';
	src: url("../Resources/Fonts/Acumin-BdItPro.woff");
}

.rating-basic {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		black,
		var(--basic),
		var(--basic)
	);
	background-blend-mode: multiply;
}
.rating-fine {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--basic),
		var(--fine),
		var(--fine)
	);
	background-blend-mode: multiply;
}
.rating-masterwork {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--fine),
		var(--masterwork),
		var(--masterwork)
	);
	background-blend-mode: multiply;
}
.rating-rare {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--masterwork),
		var(--rare),
		var(--rare)
	);
	background-blend-mode: multiply;
}
.rating-exotic {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--rare),
		var(--exotic),
		var(--exotic)
	);
	background-blend-mode: multiply;
}
.rating-ascended {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--exotic),
		var(--ascended),
		var(--ascended)
	);
	background-blend-mode: multiply;
}
.rating-legendary {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--ascended),
		var(--legendary),
		var(--legendary)
	);
	background-blend-mode: multiply;
}

.rating-full {
	background: url("../Resources/Images/meter.png"), linear-gradient(
		to right,
		var(--basic),
		var(--fine),
		var(--masterwork),
		var(--rare),
		var(--exotic),
		var(--ascended),
		var(--legendary)
	);
	background-blend-mode: multiply;
}

.gt::before {
	vertical-align: middle;
	background-image: url("../Resources/Images/gt.png");
	background-size: 16px 16px;
	display: inline-block;
	width: 16px; 
	height: 16px;
	content: "";
}
.lt::before {
	vertical-align: middle;
	background-image: url("../Resources/Images/lt.png");
	background-size: 16px 16px;
	display: inline-block;
	width: 16px; 
	height: 16px;
	content: "";
}
.rank1::before {
	vertical-align: middle;
	background-image: url("../Resources/Images/rank1.png");
	background-size: 24px 24px;
	display: inline-block;
	width: 24px; 
	height: 24px;
	content: "";
}

/* GLOBAL */
html {
	cursor: url("../Resources/Cursors/default.png"), auto;
}
body {
	font-family: "Acumin Pro";
	color: var(--rcwhite);
	margin: 0px;
	background-color: var(--rcbgdark);
	background-image: url("../Resources/Images/bg_multiply.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-blend-mode: multiply;
	background-size: cover;
}
a {
	cursor: url("../Resources/Cursors/click.png"), auto;
	color: var(--rcblue);
	text-decoration: none;
	transition: .3s ease;
}
a:hover {
	color: var(--rclightblue);
}
a:active {
	color: var(--rcdarkblue);
}
h1, h2 {
	color: white;
}

/* HEADER */
#header {
	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 1000;
	background-color: var(--rcdarkblue);
	background-blend-mode: multiply;
	background-image: url("../Resources/Images/header_bg.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: 100% auto;
	box-shadow: 0px 0px 10px black;
}
#header-content {
	line-height: 100px;
	font-size: 16px;
}
#header-left {
	position: absolute;
	left: 10%;
	text-align: left;
}
#header-left a {
	margin-right: 20px;
}
#header-right {
	position: absolute;
	right: 10%;
	text-align: right;
}
#header-right a {
	margin-left: 20px;
}
#header-logo::after {
	vertical-align: middle;
	background-image: url("../Resources/Images/header_logo.svg");
	background-size: 290px 60px;
	display: inline-block;
	width: 290px; 
	height: 60px;
	content: "";
	transition: .3s ease;
}
#header-logo:hover::after {
	background-image: url("../Resources/Images/header_logo_hover.svg");
}
#header-logo:active::after {
	background-image: url("../Resources/Images/header_logo_active.svg");
}
#header a {
	font-family: "Acumin Pro";
	color: white;
	text-shadow: 3px 3px 3px black;
	transition: .3s ease;
	vertical-align: middle;
	text-transform: uppercase;
}
#header a:hover {
	color: var(--rclightblue);
}
#header a:active {
	color: var(--rcdarkblue);
}
#header a.locked {
	color: var(--rcgrey);
	cursor: url("../Resources/Cursors/disabled.png"), auto;
}
#header a.locked:hover {
	color: var(--rclightgrey);
}
#header a.locked::after {
	vertical-align: middle;
	background-image: url("../Resources/Images/locked.png");
	background-size: 24px 24px;
	background-position: center;
	display: inline-block;
	width: 24px; 
	height: 24px;
	content:"";
	transition: .3s ease;
}
#header a.locked:hover::after {
	filter: brightness(150%);
}
.header-icon {
	vertical-align: middle;
	line-height: 24px;
	font-size: 24px;
}

/* CONTENT */
#content {
	margin: 60px auto;
	top: 100px;
	width: 60%;
	min-height: calc(100vh - 100px - 60px - 120px);
}

/* FOOTER */
#footer {
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 9;
	background-color: var(--rcbg);
	box-shadow: 0px 0px 10px black;
	font-size: 14px;
}
#footer-left {
	position: absolute;
	left: 10%;
	text-align: left;
}
#footer-right {
	position: absolute;
	right: 10%;
	text-align: right;
}
#footer a {
	color: white;
	font-weight: 600;
	text-decoration: none;
	margin: 0 8px;
	transition: .3s ease;
}
#footer a:hover {
	color: var(--rclightblue);
}
#footer a:active {
	color: var(--rcdarkblue);
}

.fullpage-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* LOGIN/REGISTER */
#credentials {
	width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type=text] {
	width: 100%;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 1px solid var(--rcdarkgrey);
	outline: none;
}
input[type=text]:focus {
  border: 1px solid var(--rcblue);
}
input[type=email] {
	width: 100%;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 1px solid var(--rcdarkgrey);
	outline: none;
}
input[type=email]:focus {
  border: 1px solid var(--rcblue);
}
input[type=password] {
	width: 100%;
	padding: 8px 16px;
	box-sizing: border-box;
	border: 1px solid var(--rcdarkgrey);
	outline: none;
}
input[type=password]:focus {
  border: 1px solid var(--rcblue);
}
input[type=submit] {
	color: white;
	font-family: "LemonMilk";
	font-weight: 800;
	font-size: 14px;
	text-shadow: 3px 3px 3px black;
	background-image: url(../Resources/Images/bg_texture.png);
	background-position: center;
    background-size: cover;
	background-blend-mode: multiply;
    padding: 8px 50px;
    cursor: url("../Resources/Cursors/click.png"), auto;
	border: 1px solid var(--rcblue);
	background-color: var(--rcblue);
	transition: .3s ease;
}
input[type=submit]:hover {
	border: 1px solid var(--rclightblue);
    background-color: var(--rclightblue);
}
input[type=submit]:active {
	border: 1px solid var(--rcdarkblue);
    background-color: var(--rcdarkblue);
}
input[type=submit]:disabled {
	border: 1px solid var(--rcgrey);
    background-color: var(--rcgrey);
	cursor: url("../Resources/Cursors/disabled.png"), auto;
}

/* COMING SOON */
#comingsoon {
	font-family: Menomonia;
	position: absolute;
	top: 50%;
	left: 15%;
	transform: translate(0, -50%);
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#comingsoon a {
	text-align: center;
	font-size: 10vh;
	font-weight: 400;
	margin: 0;
	color: white;
	text-decoration: none;
	transition: .3s ease;
}
#comingsoon a:after {
	display: block;
	content: "JOIN DISCORD FOR THE LATEST NEWS";
	text-align: center;
	font-size: 3.5vh;
	margin: 0;
}
#comingsoon a:hover {
	color: var(--rclightblue);
}
#comingsoon a:active {
	color: var(--rcdarkblue);
}

/* CONTACT */
#contact {
	color: var(--rcgrey);
	position: absolute;
	top: 50%;
	left: 20%;
	transform: translate(0, -50%);
	text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
#contact h1 {
	font-family: "LemonMilk";
	font-size: 48px;
	color: transparent!important;
	background-image: url("../Resources/Images/bg_clip.png");
    -webkit-background-clip: text;
    background-clip: text;
	background-position: center;
    background-size: cover;
	text-shadow: none !important;
}
#contact h2 {
	color: white;
}

/* ROADMAP */
.achieved {
	outline: 1px solid var(--rcdarkblue);
	outline-offset: 6px;
	box-shadow: 0 0 30px 5px var(--rcdarkbluesemi);
}
.milestone {
	vertical-align: top;
	display: inline-block;
	width: 30%;
	margin: 1.5%;
	background-color: var(--rcbgsemi);
}
.milestone-cover {
	position: relative;
	margin: 0;
}
.milestone-cover img {
	width: 100%;
}
.milestone-title {
	font-family: "LemonMilk";
	font-size: 32px;
	font-weight: 600;
	background-color: var(--rcdarkblue);
	display: block;
	color: black;
	margin-left: 8px;
	padding: 3px 8px;
	position: absolute;
	bottom: 0;
	line-height: 32px;
	vertical-align: middle;
	text-transform: uppercase;
	box-shadow: 0 0 30px 5px var(--rcdarkbluesemi);
}
.milestone-description {
	white-space: normal;
	padding-left: 16px;
	padding-right: 16px;
	font-weight: 600;
}
.milestone-features {
	white-space: normal;
	color: var(--rcdarkblue);
	padding-left: 16px;
	padding-right: 16px;
	list-style-type: none;
}
.milestone-features li{
	padding-bottom: 6px;
	text-transform: uppercase;
}

/* ABOUT */
.credits-title {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
}
.credits {
	width: 750px;
	margin: auto;
}
.contributor {
	width: 750px;
	margin: 60px auto;
	background-color: var(--rcbgsemi);
	position: relative;
}
.contributor-icon {
	vertical-align:top;
	display: inline-block;
	height: 200px;
}
.contributor-info {
	position: absolute;
	vertical-align: top;
	display: inline-block;
	padding: 16px;
	font-size: 16px;
	font-weight: 600;
	top: 50%;
	transform: translateY(-50%);
}
.contributor-info h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 32px;
}
.contributor-info h2 {
	margin-top: 0;
	color: var(--rcblue);
	font-size: 20px;
	text-transform: uppercase;
}
.contributor-info p {
	margin-bottom: 0;
}
